<div class="footer">
  <!-- <footer class="py-3 my-4">
    <p class="text-center text-muted">
      © 2022 Simplilearn Solutions. All Rights Reserved.
    </p>
  </footer> -->

  <div class="icon-container">
    <div class="icons">
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
    </div>
  </div>


  <div class="info-container">
    <div class="info">
      <div class="icons drax">
        <div class="icon"></div>
        <div class="icon"></div>
        <button class="btn">Download the App</button>
      </div>
      <div class="data">
        SimpliLearn - This is a simple platform responsible to connect course
        providers with the students end to end so that they can have seamless
        learning experience along with the quality education, and competetive
        opportunities!!
      </div>
    </div>
    <div class="options">
      <ul>
        <li>Join our team</li>
        <li>Our efforts</li>
        <li>About us</li>
        <li>Partner with us</li>
      </ul>
      <ul>
        <li>Looking for a course</li>
        <li>Get yourself registered</li>
        <li>Download our app</li>
        <li>Simplilearn for business</li>
      </ul>
    </div>
  </div>
  
  
  <div class="contact-container">
    <p class="one">Contact us</p>
    <p class="two">Simplilearn - Learn Seamless</p>
    <p class="three">Powered by Simplilearn Pvt. Ltd.</p>
    <p class="four">All Rights Reserved 2016 - 2022</p>
  </div>
</div>
