<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <!-- <div class="photo">
      <img src="assets/rishabhpant.jpg" alt="rishabh pant" />
    </div> -->
    <div class="mx-auto col-lg-6 col-md-8">
      <h1 class="fw-light">SimpliLearn</h1>
      <p class="lead text-muted" style="font-size: x-large">
        Learn from global experts and get certified by the world's leading
        universities
      </p>
      <p>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <a href="#" class="btn btn-primary">Explore Programs</a>
      </p>
    </div>
  </div>

  <div class="card text-white my-5 ру-4 text-center">
    <div class="center">
      <video width="320" height="240" controls style="align-content: center">
        <source src="assets/video2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>
